@model WebApplication1.Models.departmanlar
@{
    ViewData["Title"] = "DepartmanGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
@using (Html.BeginForm("DepartmanGuncelle", "departt", FormMethod.Post))
{
   
    <b>Departman Id</b>
    @Html.TextBoxFor(x => x.id, new { @class = "form-control" })
    <br />
   
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.departmanad, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" >Departman Güncelle</button>
}

